.colors {
  background-color: white;
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  position: absolute;
  bottom: -50px;
  right: 50%;
  z-index: 1;
  /* transform: translate(0%, 50%); */
  transform: translate(50%, 50%);
  gap: 5px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s;
  overflow: scroll;
}

.colors.details {
  position: inherit;
  transform: translate(50%, -100%);
  height: fit-content;
}
/* .colors.open {
  opacity: 1;
  pointer-events: all;
} */
.colors .btn {
  width: 20px;
  height: 20px;
  padding: 20px;
  border-radius: 10em;
  border: 1px solid #7c7c7c;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.color .btn.selected {
  padding: 20px;
  border-radius: 10em;
  border: 1px solid #7c7c7c;
}
.close-colors {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.clr1 {
  background-color: #f28b82;
}
.clr2 {
  background-color: #fff475;
}
.clr3 {
  background-color: #fbbc04;
}
.clr4 {
  background-color: #ccff90;
}
.clr5 {
  background-color: #a7ffeb;
}
.clr6 {
  background-color: #cbf0f8;
}
.clr7 {
  background-color: #aecbfa;
}
.clr8 {
  background-color: #d7aefb;
}
.clr9 {
  background-color: #fdcfe8;
}
.clr10 {
  background-color: #e6c9a8;
}
.clr11 {
  background-color: #e8eaed;
}
.clr12 {
  background-color: #fff;
}
