.note-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin-bottom: 10px;
  break-inside: avoid;
  padding-bottom: 2em;
  color: var(--txt);
  overflow-wrap: anywhere;
}

.note-preview h3 {
  font-family: main;
  color: var(--txt);
  text-align: start;
}

/* .note-preview iframe {
  width: var(--colWidth);
} */

.note-preview img {
  border-radius: 5px;
}
.note-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.note-info h3 {
  font-family: main;
  color: var(--txt);
}

/* todoList  */
.note-preview span.done {
  text-decoration: line-through;
}
.note-preview ul {
  width: 100%;
}
.note-preview ul li {
  display: flex;
  align-items: center;
  justify-content: start;
}
input[type='checkbox'] {
  width: 2em;
  height: 2em;
}

.note-preview li p {
  margin: 0;
}

/* img note */

.note-preview.img-note {
  flex-direction: row;
}

.note-preview.img-note .note-info img {
  object-fit: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  /* object-position: center center;
  background-size: cover; */
}

/* bottom options */
.options {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  justify-content: center;
  background-color: transparent;
  align-items: flex-end;
  width: 100%;
}

.options.show {
  opacity: 1;
  position: static;
  justify-content: flex-start;
}

.options.show.border {
  border-left: 1px solid var(--txt);
  border-right: 1px solid var(--txt);
  border-bottom: 1px solid var(--txt);
  justify-content: flex-start;
  position: relative;
}
.type-btn {
  color: var(--clr1);
  background-color: var(--clr5);
}
.type-btn.create-note {
  border: none;
  background-color: var(--clr5);
  border-bottom: 1px solid var(--txt);
  border-right: 1px solid var(--txt);
  color: var(--clr1);
}

.add-note-continuer .note-txt.sub-txt {
  border-left: 1px solid var(--txt);
  border-right: 1px solid var(--txt);
  border-bottom: 1px solid var(--txt);
}

.note-preview:hover .options {
  opacity: 1;
}

.options-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.note-info ul li input[type='checkbox'] {
  width: fit-content;
  min-width: 30px;
}
.note-info ul li {
  overflow-wrap: anywhere;
}

.note-info input[type='checkbox'] {
  width: fit-content;
  min-width: 30px;
}

.iframe-continuer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

iframe {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.title {
  text-align: start;
  padding: 0.5em;
  width: 100%;
  font-size: 1.1em;
  font-weight: 700;
}

.subtitle {
  padding: 0.5em;
}
