.add-note-continuer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 var(--padding);
}

.add-note-continuer input[type='text'] {
  background-color: transparent;
}

.add-note {
  display: flex;
  justify-content: space-between;
}

.add-note input[type='text'] {
  flex-grow: 1;
}

.choose-file {
  position: relative;
  display: inline-block;
}
.choose-file input[type='file'] {
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.add-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 var(--padding);
  background-color: white;
  padding: 1em 2em;
  width: 50%;
}

.add-video input[type='url'] {
  flex-grow: 1;
}

/* .bottom-input {
  opacity: 1;
  transition: 0.3s;
}
.add-note input[type='text']:focus .bottom-input {
  background-color: aqua;
  opacity: 1;
} */
