.note-preview {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin-bottom: 10px;
  break-inside: avoid;
  color: var(--txt);
}

.note-preview h3 {
  font-family: main;
  color: var(--txt);
  text-align: start;
}

.note-preview iframe {
  width: var(--colWidth);
}

.note-preview img {
  border-radius: 5px;
}
.note-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.note-info h3 {
  font-family: main;
  color: var(--txt);
}

/* todoList  */
.note-preview span.done {
  text-decoration: line-through;
}
.note-preview ul {
  width: 100%;
}
.note-preview ul li {
  display: flex;
  align-items: center;
  justify-content: start;
}
input[type='checkbox'] {
  width: 2em;
  height: 2em;
}

.note-preview li p {
  margin: 0;
}

/* img note */

.note-preview.img-note {
  flex-direction: row;
}

.note-preview.img-note img {
  object-fit: cover;
}

/* bottom options */
.options {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  width: 100%;
}

.options.show {
  opacity: 1;
}

.note-preview:hover .options {
  opacity: 1;
}

.options-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
