.note-preview {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  transition: box-shadow 0.2s;
  overflow-wrap: anywhere;
  background-color: #fff;
  break-inside: avoid-column;
  margin-bottom: 10px;
  color: var(--txt);
}

.note-preview h3 {
  font-family: main;
  color: var(--txt);
}

.note-preview iframe {
  width: var(--colWidth);
}
