.mail-preview{
    display: grid;
    grid-template-columns: 30px 12rem 1fr 50px
}

.mail-preview h1{
grid-column: 1;
}

.mail-preview h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 2;
}

 .main-list li{
padding: 1.5em;
}
.main-list li:hover{ 
    box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 12%);
}

