.addMail-form{
    position: relative;
    display: flex;
    flex-direction: column;
}

.mailForm-btn{
position: relative;
width: 50px;
border: 1px solid whitesmoke;
border-radius: 25%;
top: 100%;
left: 86%;
}

.addMail-form input{
    text-align:  left;
}
