.mail-preview{
    display: grid;
    grid-template-columns: 30px var(--mailPreview) 1fr 50px
}

.mail-preview h1{
grid-column: 1;
}

.mail-preview h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 2;
}

.mail-preview p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline-end: 10px;
}

.mail-list{
    padding: 1.5em;
    position: relative;
}

.mail-list:hover .options-mail{
    opacity: 1;
}

.main-list li:hover{ 
    box-shadow: 0px 0px 5px 6px rgb(0 0 0 / 12%);

}

.options-mail {
    position: absolute;
    bottom: 0.75em;
    right: 0;
    display: flex;
    opacity: 0;
    transition: opacity 0.5s;
    justify-content: end;
    background-color: transparent;
    align-items: center;
    width: 100%;
}

.option-mail-btn {
    background-color: #fff;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}