:root {
  /* background */
  --clr1: #daf8e3;
  /* modal background */
  --clr2: #97ebdb;
  /* border */
  --clr3: #00c2c7;
  /* buttons */
  --clr4: #0086ad;
  /* Header/footer */
  --clr5: #005582;

  --txt: #313131;
  --txt1: #616161;
  --txt3: #919191;

  --colWidth: 300px;
  --padding: 32px;
  --mailPreview: 12rem;
}
