.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.router-view {
  flex-grow: 1;
  overflow: scroll;
  overflow-x: hidden;
  margin-block-start: 1em;
}
