.modal {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 350px;

  position: fixed;
  top: 52%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  z-index: 2;
  border: 1px solid #666;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
  color: var(--text1);
  background-color: var(--clr3);
}

.centerModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid #666;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
  background-color: var(--color1);
}

.centerModal.big {
  background-color: var(--clr1);
  width: 50%;
  height: 50%;
}

.modal-overlay {
  display: block;
  opacity: 0.5;

  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: #000;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
}
