.modal {
    display: flex;
    flex-direction: column;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid #666;
    border-radius: 10px;
    transition: all 0.3s;
    overflow: hidden;
    background-color: var(--color1);
  }